<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

  </head>

  <body>

    <button id="login">Login</button>
    <div id="app"></div>


    <p></p>
    <p></p>


    <button id="candidate1">vote for candidate 1</button>
    <div id="vt1"></div>

    <p></p>
    <p></p>

    <button id="candidate2">vote for candidate 2</button>
    <div id="vt2"></div>

    <p></p>
    <p></p>

    <button id="logout">Logout</button>


    <script src="./portis.js"></script>

  </body>

</html>
